python.exe -m pip install --upgrade pip

pip install numpy==1.26.4 
pip install tensorflow==2.17.0  
pip install keras==3.2.0  
pip install seaborn==0.11.2 
pip install scikit-learn==1.2.2 
pip install matplotlib==3.7.1 
pip install plotly==5.10.0 
pip install pandas==2.1.4 
pip install face_recognition
pip install opencv-python


python -m venv env
virtualenv env
env\Scripts\activate
